body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    color: #023266;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: justify;
}

/* Styling for the headings */
h4 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Styling for the button */
.learn-more-button {
    display: block;
    background-color: #023266;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}