@page "/About_Eurowind"
<h2>About Eurowind</h2>

<div>
    <p>Eurowind is a leading force in the renewable energy sector, 
        tracing its roots back to 1977 when Ove Rasmussen, an electrician, 
        erected a modified Riisager mill on his property. This marked the 
        beginning of a family legacy, with sons Søren and Jens inheriting
        the passion for wind energy. In 2006, along with lawyer Jakob Kortbæk, 
        they founded Eurowind Energy. The company, headquartered in Hobro, Denmark, 
        manages approximately 1,450 MW of wind and solar parks.</p>
   
    <h4>Inheritors of a Green Legacy</h4>
    <p>The Rasmussen brothers, influenced by their father's involvement in Denmark's 
        Wind Turbine Association, ventured into the wind energy business. Søren, 
        starting as a farmer, and Jens, as an electrician turned consultant, shared 
        a common entrepreneurial spirit. Their entry into the German wind market in 2006, 
        taking advantage of favorable conditions, laid the foundation for Eurowind's growth.</p>
    
    <h4>From Germany to Global Leadership</h4>
    <p>Eurowind strategically entered the German wind market, capitalizing on 
        differences in depreciation policies. The brothers, joined by Jakob Kortbæk, 
        formed Eurowind Energy in 2006. Their early foray into Germany and later 
        Poland provided a competitive edge and set the stage for Eurowind's expansion. 
        The company diversified to countries like Portugal, Italy, Spain, Sweden, and 
        Bulgaria, becoming a major player in both wind and solar energy.</p>
    
    <h4>Homecoming to Denmark</h4>
    <p>With a shift in Danish political climate in 2008, Eurowind returned to Denmark, 
        transitioning from being buyers to developers in the local wind energy sector. 
        The company's growth continued with acquisitions, including the merger with Eniig 
        Renewables in 2019, expanding their business to the UK and Germany.</p>
    
    <h4>Global Presence, Local Expertise</h4>
    <p>Eurowind's journey includes milestones, like the establishment of offices
        in the USA, Finland, and Slovakia. The company's vision extends beyond borders, 
        emphasizing a commitment to playing a significant role in future energy societies. 
        The founders, despite relinquishing 50% of ownership in the Norlys merger, affirm 
        their dedication to sustained growth, highlighting Eurowind's robust culture and 
        skilled workforce.</p>
    
    <h4>Driving the Green Transition</h4>
    <p>Eurowind's overarching vision focuses on a pivotal role in shaping the future energy landscape. 
        The company aims to develop, build, produce, and optimize renewable energy solutions while 
        integrating cutting-edge technologies. Their commitment to the green transition reflects a 
        dedicated and focused effort toward a sustainable energy future.</p>

<a href="https://eurowindenergy.com/dk/om-os" class="learn-more-button">Learn More About Our History</a>
</div>


@code {
    
}